<header class="header">
  <h1 class="header__logo">
    <a routerLink="/">My Recipes</a>
  </h1>

  <!-- TODO: Hide the recipes if the user is not authenticated -->
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="with-dropdown">
        <a [routerLink]="['/', 'recipes', 'all']">Recipes</a>

        <ul class="header__nav-dropdown">
          <li>
            <a [routerLink]="['/', 'recipes', 'all']">All</a>
          </li>

          <li>
            <a [routerLink]="['/', 'recipes', 'new']">New</a>
          </li>
        </ul>
      </li>

      <li>
        <a [routerLink]="['/', 'shopping-list']">Shopping List</a>
      </li>
    </ul>
  </nav>

  <ul class="header__actions header__nav-list">
    <li>
      <a href="/login">Login</a>
    </li>

    <li class="with-dropdown right">
      <a href="#">Manage</a>

      <ul class="header__nav-dropdown">
        <li>
          <a href="#">Save Data</a>
        </li>

        <li>
          <a href="#">Fetch Data</a>
        </li>
      </ul>
    </li>
  </ul>
</header>
