.header {
  display: flex;
  background-color: #eef;

  &__logo {
    padding: 1.4rem 1rem;
    font-size: 2.4rem;

    a {
      &:link,
      &:visited {
        color: #333;
      }

      &:hover,
      &:active {
        color: #000;
      }
    }
  }

  &__nav {
    margin-right: auto;
  }

  nav > &__nav-list {
    height: 100%;
  }

  &__nav-list {
    display: flex;
    gap: 0.4rem;

    & > li {
      transition: all 0.3s;

      &:hover,
      &.active {
        background-color: #ddf;
      }

      a {
        &:link,
        &:visited {
          display: flex;
          align-items: center;
          padding: 1rem;
          color: #333;
          height: 100%;
        }

        &:hover,
        &:active {
          color: #000;
        }
      }
    }
  }

  &__nav-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 20rem;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;

    li {
      &:hover {
        background-color: #ddf;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 0.4rem;
      }

      &:last-child {
        padding-top: 0.4rem;
      }
    }
  }

  &__actions {
    & > ul > li:last-child {
      padding-right: 1rem;
    }
  }

  .with-dropdown {
    position: relative;
  }

  .with-dropdown.right &__nav-dropdown {
    right: 0;
    left: initial;
  }

  .with-dropdown:hover &__nav-dropdown {
    opacity: 1;
    visibility: visible;
    background-color: #eef;
  }
}
